In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
g = [86.5, 79.4, 88.2, 96.5, 86.3, 76.8, 96.1, 78.5, 82.4, 88.6]

In [3]:
list = ["國文", "英文", "數甲", "數乙", "物理", "化學", "生物", "歷史", "地理", "公民"]

In [4]:
list2 = ["土語系","財政系","金融系","國貿系","會計系","法律系","公行系","應數系","教育系"]

In [5]:
mydata =[
 [2, 2, 0, 1, 0, 0, 0, 1, 1, 0],
[1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0],
 [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0],
 [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0],
[1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0],
 [1, 2, 0, 1, 0, 0, 0, 1, 0, 1],
 [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25],
 [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0],
 [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0]
]

In [6]:
df1 = pd.DataFrame(mydata, columns=list, index=list2)

In [7]:
df1

      國文   英文   數甲    數乙  物理  化學  生物  歷史  地理    公民
土語系  2.0  2.0  0.0  1.00   0   0   0   1   1  0.00
財政系  1.0  1.5  0.0  1.50   0   0   0   0   0  0.00
金融系  1.0  1.5  0.0  2.00   0   0   0   0   0  0.00
國貿系  1.5  2.0  0.0  2.00   0   0   0   0   0  0.00
會計系  1.5  2.0  0.0  2.00   0   0   0   1   1  0.00
法律系  1.0  2.0  0.0  1.00   0   0   0   1   0  1.00
公行系  1.0  1.5  0.0  1.25   0   0   0   0   0  1.25
應數系  1.0  1.0  1.5  0.00   1   1   0   0   0  0.00
教育系  1.5  2.0  0.0  1.25   0   0   0   1   1  0.00

In [8]:
df1["加權分數"] = np.dot(mydata,g)

In [9]:
df1

      國文   英文   數甲    數乙  物理  化學  生物  歷史  地理    公民     加權分數
土語系  2.0  2.0  0.0  1.00   0   0   0   1   1  0.00  589.200
財政系  1.0  1.5  0.0  1.50   0   0   0   0   0  0.00  350.350
金融系  1.0  1.5  0.0  2.00   0   0   0   0   0  0.00  398.600
國貿系  1.5  2.0  0.0  2.00   0   0   0   0   0  0.00  481.550
會計系  1.5  2.0  0.0  2.00   0   0   0   1   1  0.00  642.450
法律系  1.0  2.0  0.0  1.00   0   0   0   1   0  1.00  508.900
公行系  1.0  1.5  0.0  1.25   0   0   0   0   0  1.25  436.975
應數系  1.0  1.0  1.5  0.00   1   1   0   0   0  0.00  461.300
教育系  1.5  2.0  0.0  1.25   0   0   0   1   1  0.00  570.075